.section {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}

.control {
  width: 400px;
}
